.btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: $main-color;
  color: #ffffff;
  font-family: $special-font-family;
  font-weight: $regular-font-weight;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  display: block;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}
