.btn {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: $main-color;
  color: #ffffff;
  font-family: $special-font-family;
  font-weight: $regular-font-weight;
  font-size: $main-fz;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  display: inline-block;
}
