.cat-before-after__img-before {
  width: 320px;
  display: block;
  margin-left: -20px;
  margin-bottom: 30px;
}

.cat-before-after-controls-wrapper {
  display: flex;
  align-items: center;
  padding-left: 40px;
  width: 280px;
}

.cat-before-after-btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  border-bottom: 1px dotted #bebebe;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;

  &:hover {
    border-bottom: 1px solid #989898;
  }

  &:active {
    border-bottom: none;
  }
}

.cat-before-after__before {
  margin-right: 15px;
}

.cat-before-after__range {
  width: 84px;
  height: 14px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  margin-right: 15px;
  padding-top: 3px;
}

.cat-before-after__range-progress {
  border-radius: 3px;
  background-color: $main-color;
  width: 35px;
  height: 6px;
  margin-left: 5px;
}

@media (min-width: $tablet-width) {
  .cat-before-after {
    background-color: #f2f2f2;
    padding-bottom: 70px;
  }

  .cat-before-after__img-before {
    width: 690px;
    margin-left: 17px;
    margin-top: 65px;
    margin-bottom: 20px;
  }

  .cat-before-after-controls-wrapper {
    width: 680px;
    padding-left: 70px;
  }

  .cat-before-after-btn {
    font-size: 20px;
    border-bottom: 1px dotted #b8b8b8;
    padding: 0;
    padding-bottom: 5px;
  }

  .cat-before-after__after {
    margin-left: 23px;
  }

  .cat-before-after__before {
    margin-right: 23px;
  }

  .cat-before-after__range {
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
    border-radius: 2.5px;
    margin-right: 0;
  }

  .cat-before-after__range-progress {
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    width: 34px;
    height: 34px;
    margin-top: -15px;
    margin-left: 200px;
    cursor: pointer;
    position: relative;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid $main-color;
    }

    &:active::after {
      top: 11px;
      left: 11px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      top: 12px;
      left: 12px;
      background-color: $main-color;
      border-radius: 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .cat-before-after {
    min-height: auto;
    margin-left: 80px;
    margin-top: -500px;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 259px, $main-color-background 260px, $main-color-background 100%);
  }

  .cat-before-after__img-before {
    margin-bottom: 40px;
    margin-left: -80px;
  }

  .cat-before-after-controls-wrapper {
    padding-left: 0;
  }

  .cat-before-after__after {
    margin-left: 22px;
  }

  .cat-before-after__before {
    margin-right: 22px;
  }
}
