.copyright {
  font-family: $text-font-family;
  color: #444444;
  font-size: 16px;
  line-height: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  width: 27px;
  height: 34px;
}
