.invite-retailers {
  background-color: #ffffff;
  padding-top: 14px;

  &--mobile {
    background-color: #ffffff;
  }
}

.invite-retailers--mobile.invite-retailers--catalog {
  background-color: $main-color-background;
}

.invite-retailers__wrapper {
  display: flex;
  padding-bottom: 11px;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.invite-retailers__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: $regular-font-weight;
  text-transform: uppercase;
  width: 140px;
}

.invite-retailers__address {
  width: 140px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .invite-retailers {
    &--index {
      padding-top: 47px;
    }

    &--catalog {
      padding-top: 37px;
    }

    &--form {
      padding-top: 49px;
    }
  }

  .page-main .invite-retailers {
    background-color: #ffffff;
  }

  .invite-retailers__address--tablet-space {
    margin-top: 20px;
    display: inline-block;
  }

  .invite-retailers__wrapper {
    justify-content: space-between;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    width: 708px;
  }

  .invite-retailers__title {
    font-size: 20px;
    line-height: 25px;
    width: 205px;
  }

  .invite-retailers__address {
    font-size: 16px;
    line-height: 20px;
    width: 170px;
    text-align: right;
  }

  .invite-retailers__address-tablet-space {
    margin-top: 19px;
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .invite-retailers {
    width: 570px;
    padding: 0;
  }

  .invite-retailers__wrapper {
    width: auto;
    position: absolute;
    background-color: #ffffff;
    padding-top: 46px;
    padding-left: 131px;
    top: 95px;
    left: 131px;
  }

  .invite-retailers--index .invite-retailers__wrapper {
    padding-left: 76px;
  }

  .invite-retailers__title {
    margin-right: 50px;
  }

  .invite-retailers__address {
    text-align: left;
  }
}
