.invite-retailers {
  background-color: $main-color-background;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  &--mobile {
    background-color: #ffffff;
  }
}

.invite-retailers__wrapper {
  display: flex;
  padding-top: 15px;
  padding-bottom: 11px;
}

.invite-retailers__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: $regular-font-weight;
  text-transform: uppercase;
  width: 140px;
}

.invite-retailers__address {
  width: 140px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .invite-retailers {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }

  .invite-retailers__wrapper {
    justify-content: space-between;
    padding-bottom: 50px;
  }

  .invite-retailers__title {
    font-size: 20px;
    line-height: 25px;
    width: 205px;
    padding-left: 40px;
  }

  .invite-retailers__address {
    font-size: 16px;
    line-height: 20px;
    width: 165px;
  }

  .invite-retailers__address--tablet-space {
    margin-top: 10px;
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .invite-retailers {
    width: 570px;
    padding: 0;
  }

  .invite-retailers__wrapper {
    width: auto;
    position: absolute;
    background-color: #ffffff;
    padding-top: 40px;
    top: 80px;
    left: 75px;
  }

  .invite-retailers__title {
    margin-right: 80px;
  }
}
