.map {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.map__image {
  display: block;
  height: 360px;
}

@media (min-width: $tablet-width) {
  .map__image {
    height: 390px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 100%;
  }
}
