.page-form__big-title-wrapper,
.page-form__wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.page-form__big-title {
  margin-bottom: 15px;
  padding-bottom: 0;
}

.page-form__form-description {
  text-transform: uppercase;
  font-size: $main-fz;
  line-height: 18px;
  margin-bottom: 35px;
}
