.pick-program {
  color: #ffffff;
  text-align: center;
  padding-top: 27px;
}

.pick-program__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: $regular-font-weight;
  margin-bottom: 25px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.pick-program__slogan {
  text-transform: uppercase;
  font-weight: $regular-font-weight;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 28px;
}

.pick-program__img {
  display: inline-block;
  vertical-align: bottom;
}

.pick-program__btn-wrapper {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.pick-program__btn {
  margin-top: 3px;
}

@media (min-width: $tablet-width) {
  .pick-program {
    min-height: 858px;
    position: relative;
    padding-top: 48px;
  }

  .pick-program__img {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 709px;
    height: 609px;
  }

  .pick-program__title {
    color: #111111;
    font-size: 60px;
    line-height: 60px;
    width: 427px;
    text-align: left;
    margin-left: 87px;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .pick-program__slogan {
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
    width: 295px;
    margin-left: 87px;
    margin-bottom: 45px;
  }

  .pick-program__btn {
    font-size: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 22px;
    padding-right: 22px;
    margin: 0;
    margin-left: 90px;
    width: 245px;
  }
}

@media (min-width: $desktop-width) {
  .pick-program {
    min-height: 651px;
    padding-top: 98px;
  }

  .pick-program__title {
    margin-bottom: 41px;
    margin-left: 80px;
  }

  .pick-program__slogan {
    margin-bottom: 54px;
    margin-left: 80px;
  }

  .pick-program__img {
    width: 552px;
    height: 499px;
    bottom: unset;
    top: 20px;
    transform: translateX(-160px);
  }

  .pick-program__btn {
    margin-left: 80px;
  }
}
