.pick-program {
  color: #ffffff;
  text-align: center;
}

.pick-program__background-wrapper {
  background-color: $main-color;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  min-height: 305px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
}

.pick-program__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: $regular-font-weight;
  margin-bottom: 22px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.pick-program__slogan {
  text-transform: uppercase;
  font-weight: $regular-font-weight;
  font-size: 14px;
  line-height: 14px;
}

.pick-program__img {
  margin-top: -152px;
}

.pick-program__btn-wrapper {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.pick-program__btn {
  margin-right: 20px;
  margin-left: 20px;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .pick-program__background-wrapper {
    width: 708px;
    background-image: none;
    background-color: #ffffff;
  }

  .pick-program__title {
    color: #111111;
    font-size: 60px;
    line-height: 60px;
    width: 427px;
    text-align: left;
    margin-left: 70px;
    margin-right: 0;
  }

  .pick-program__slogan {
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
    width: 295px;
    margin-left: 70px;
  }

  .pick-program__btn-wrapper {
    position: relative;
  }

  .pick-program__btn {
    position: absolute;
    top: -220px;
    left: -95px;
    margin: 0;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 22px;
    padding-right: 22px;
  }
}

@media (min-width: $desktop-width) {
  .pick-program {
    min-height: 560px;
  }

  .pick-program__background-wrapper {
    width: 1300px;
  }

  .pick-program__title {
    margin-left: 80px;
    margin-bottom: 30px;
  }

  .pick-program__slogan {
    margin-left: 80px;
    margin-bottom: 40px;
  }

  .pick-program__btn {
    left: -365px;
  }
}
