.product {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 25px;
}

.product__img {
  margin-top: 0;
}

.product__details-wrapper {
  width: 140px;
}

.product__details-title {
  font-size: 16px;
  font-weight: $regular-font-weight;
  width: 80px;
  padding-top: 5px;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.product__details-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product__details-item {
  display: flex;
}

.product__data {
  font-family: $text-font-family;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  width: 70px;

  &--key {
    width: 70px;
  }

  &--value {
    width: 70px;
    text-align: right;
  }
}

.product__btn {
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .product {
    width: 324px;
    padding-left: 38px;
    padding-right: 38px;
    margin-right: 60px;
    background-color: #f2f2f2;
    margin-bottom: 140px;

    &:nth-child(2n+1) {
      margin-right: 0;
    }
  }

  .product__details-wrapper {
    width: 100%;
  }

  .product__img-wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  .product__details-title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    width: 140px;
    margin-bottom: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .product__details-list {
    margin-bottom: 20px;
  }

  .product__details-item {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 5px;
    padding-top: 7px;
  }

  .product__data {
    font-size: 16px;
    line-height: 16px;
  }

  .product__data--value {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 245px;
    margin-right: 80px;

    &:nth-child(2n+1) {
      margin-right: 80px;
    }

    &:nth-child(4n+1) {
      margin-right: 0;
    }
  }
}
