.program-type-wrapper {
  padding-bottom: 3px;
}

@media (min-width: $desktop-width) {
  .program-type-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 31px;
    margin-left: auto;
    margin-right: auto;
  }
}
