.program-type {
  background-color: $main-color-background;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.program-type__title {
  font-size: 24px;
  font-weight: $regular-font-weight;
  line-height: 37px;
  text-align: center;
  padding-top: 30px;
  text-transform: uppercase;
}

.program-type__description {
  font-family: $text-font-family;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 23px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.program-type__btn {
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .program-type {
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
    width: 708px;
  }

  .program-type__title {
    font-size: 36px;
    line-height: 37px;
    text-align: left;
    padding-top: 70px;
  }

  .program-type__description {
    width: 390px;
    border-bottom: none;
  }

  .program-type__btn {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .program-type {
    width: 570px;
  }
}
