.show-more {
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}

.show-more__wrapper {
  padding-bottom: 25px;
  padding-top: 25px;
  width: 280px;
}

.show-more__btn {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  background-image: url("../../img/icon-plus-mobile.svg");
}

.show-more__first-sentence {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  margin-bottom: 10px;
}

.show-more__second-sentence {
  font-family: $text-font-family;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 20px;
  display: block;
}

.show-more__show-everything {
  background-color: $main-color-background;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  display: inline-block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(#444444, 0.3%);
  }
}

@media (min-width: $tablet-width) {
  .show-more {
    padding-top: 168px;
    border: 1px solid #e6e6e6;
    width: 324px;
    padding-left: 38px;
    padding-right: 38px;
    text-align: center;
  }

  .show-more__wrapper {
    padding-right: 0;
    width: auto;
  }

  .show-more__btn {
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    background-image: url("../../img/icon-plus.svg");
    opacity: 0.2;
  }

  .show-more__first-sentence {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 27px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
  }

  .show-more__second-sentence {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 85px;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
  }

  .show-more__show-everything {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .show-more {
    width: 245px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .show-more__wrapper {
    width: auto;
  }
}
