.site-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #ffffff;
  width: 320px;
  display: none;
}

.site-list__item {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #e6e6e6;
}

.site-list__item-link {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  white-space: nowrap;


  &:not(&--active):hover {
    color: rgba(#111111, 0.6);
  }

  &:not(&--active):active {
    color: rgba(#111111, 0.3);
  }

  &--active {
    cursor: default;
    position: relative;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: auto;
    margin-left: auto;
  }

  .site-list__item {
    border-bottom: none;
    padding-top: 11px;
    margin-right: 36px;

    &:last-child {
      margin-right: 0;
    }
  }

  .site-list__item-link {
    font-size: 18px;
    line-height: 24px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 400;

    &--active::after {
      content: "";
      position: absolute;
      background-color: $main-color;
      height: 2px;
      bottom: -10px;
      left: 0;
      width: 100%;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 50%;
    background-color: transparent;
    text-align: right;
  }

  .site-list__item-link {
    font-size: 20px;

    &:not(&--active):hover {
      color: rgba(#111111, 0.6);
    }

    &:not(&--active):active {
      color: rgba(#111111, 0.3);
    }
  }

  .page-header--index .site-list__item-link {
    &--active::after {
      background-color: #ffffff;
    }
  }
}
