.social__list {
  list-style-type: none;
  display: flex;
  margin-top: 12px;
  margin-bottom: 20px;
  align-items: center;
}

.social-link {
  display: block;
  margin-right: 40px;
}

.social-link--vk {
  width: 30px;
  height: 15px;
  margin-left: 29px;
}

.social-link--instagram {
  width: 23px;
  height: 23px;
  padding-top: 4px;
}

.social-link--facebook {
  width: 13px;
  height: 27px;
  padding-top: 4px;
}

.copyright__link {
  width: 27px;
  height: 34px;
}
