.social__list {
  list-style-type: none;
  display: flex;
  margin-top: 12px;
  margin-bottom: 20px;
  align-items: center;
}

.social-link {
  display: block;
  margin-right: 40px;
}

.vk-svg,
.instagram-svg,
.facebook-svg,
.html-academy-logo {
  color: #666666;

  &:hover {
    color: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-link--vk {
  width: 30px;
  height: 15px;
  margin-left: 29px;
}

.social-link--vk svg {
  width: 30px;
  height: 15.7px;
}

.social-link--instagram {
  width: 23px;
  height: 23px;
  padding-top: 4px;
}

.social-link--instagram svg {
  width: 23px;
  height: 23px;
}

.social-link--facebook {
  width: 13px;
  height: 27px;
  padding-top: 4px;
}

.social-link--facebook svg {
  width: 13.5px;
  height: 27.7px;
}

.copyright__link svg {
  width: 27px;
  height: 34px;
}
