.social__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 20px;
  align-items: center;
}

.social__item {
  margin-right: 38px;

  &:last-child {
    margin-right: 0;
  }
}

.social-link {
  display: block;
}

.vk-svg,
.instagram-svg,
.facebook-svg,
.html-academy-logo {
  color: #666666;

  &:hover {
    color: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-link--vk {
  margin-left: 33px;
}

.social-link--vk svg {
  width: 22px;
  height: 12px;
}

.social-link--instagram {
  padding-top: 4px;
}

.social-link--instagram svg {
  width: 16px;
  height: 16px;
}

.social-link--facebook {
  width: 13px;
  height: 27px;
  padding-top: 4px;
}

.social-link--facebook svg {
  width: 10px;
  height: 19px;
}

.copyright__link svg {
  width: 27px;
  height: 34px;
}

@media (min-width: $tablet-width) {
  .social__item {
    margin-right: 27px;
  }

  .social-link--vk svg {
    width: 30px;
    height: 16px;
  }

  .social-link--instagram svg {
    width: 23px;
    height: 23px;
  }

  .social-link--facebook {
    padding-top: 0;
  }

  .social-link--facebook svg {
    width: 14px;
    height: 28px;
  }
}
