$main-color: #68b738;
$main-color-background: #f2f2f2;

$special-font-family: "Oswald", "Arial", sans-serif;
$text-font-family: "Arial", sans-serif;
$fz-section-header: 36px;
$fz-sub-header: 24px;
$regular-font-weight: 400;
$medium-font-weight: 500;

$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
