$main-color: #68b738;
$main-color-background: #f2f2f2;

$special-font-family: "Oswald", "Arial", sans-serif;
$text-font-family: "Arial", sans-serif;
// $main-fz: 14px;
// $font-header-color: #111111;
// $font-text-color: #444444;
$fz-section-header: 36px;
$fz-sub-header: 24px;
// $main-line-height: 18px;
$regular-font-weight: 400;
$medium-font-weight: 500;
