@font-face {
  font-weight: 400;
  font-family: "Oswald";
  src:
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Oswald";
  src:
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $special-font-family;
  color: $font-header-color;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
